@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Noto+Serif+TC:wght@400;600&family=Shippori+Mincho:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.ti{
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
}

.ja-regular{
  font-family: 'Shippori Mincho', serif;
  font-weight: 400;
}

.ja-bold{
  font-family: 'Shippori Mincho', serif;
  font-weight: 600;
}

.zh-regular{
  font-family: 'Noto Serif TC', serif;
  font-weight: 400;
}

.zh-bold{
  font-family: 'Noto Serif TC', serif;
  font-weight: 600;
}

body {
  --text-0: rgb(0, 0, 0);
  --text-1: rgb(38, 38, 38);
  --text-2: rgb(75, 75, 75);
  --text-3: rgb(113, 113, 113);
  --text-4: rgb(150, 150, 150);
  
  --background-color: rgb(245, 245, 245);
  --tag-color: rgb(229, 229, 229);
  --tag-hover-color: rgb(197, 197, 197);
  --card-color: rgb(252, 252, 252);
  --button-color: rgb(252, 252, 252);
  --button-pressed-color: rgb(220, 220, 220);
  --button-text-color: rgba(38, 38, 38, 1);
  --button-text-color-trans: rgba(38, 38, 38, 0);

  background-color: var(--background-color);
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
