.card-columns{
    display: inline-block;
    /* width: auto; */
    /* align: center; */
    /* display: block; */
}

.card-column{
    /* width: 49%; */
    display: inline-block;
    padding: 0px 0px;
}

.switch-button{
    position: relative;
    margin: 0px 2px 0px 15px;
    
    width: 55px;
    height: 35px;

    border-radius: 15px;
    
    background-color: #FCFCFC;
    color: #303030;
    box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.05);
    transition: 0.1s;
}

.switch-button:hover{
    /* box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.05), 0px 0px 0px 1px rgba(50, 50, 50, 1); */
    background-color: #DDDDDD;
}

.switch-button .switch-button-text{
    pointer-events: none;
    
    font-size: 14.4px;
    width: 5em;
    color: rgba(50, 50, 50, 0);
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 110%;
    transform: translateY(-50%);
    transition: 0.2s;
}

.switch-button:hover .switch-button-text {
    color: rgba(50, 50, 50, 1);
}

.plus-button{
    position: relative;
    margin-left: auto; 
    margin-right: 15px;
    
    width: 35px;
    height: 35px;

    border-radius: 17px;
    
    background: #fcfcfc;
    color: #303030;
    box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
}

.plus-button:hover{
    box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.15);
    transform: scale(1.2)
}

.plus-button:active{
    box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.10);
    background: #dcdcdc;
    transform: scale(1.1)
}

.plus-button .plus-button-text{
    pointer-events: none;

    font-size: 12px;
    width: 5em;
    color: rgba(50, 50, 50, 0);
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 110%;
    transform: translateY(-50%);
    transition: 0.3s;
}

.plus-button:hover .plus-button-text {
    color: rgba(50, 50, 50, 1);
}