.new-card-pop-up{
    user-select: none;
    font-size: 16px;
    position: fixed;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%) translateY(101%);
    width: 40em;
    height: auto;
    padding: 2em;
    background-color: var(--background-color);
    border-radius: 0.4em;
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.25);
    z-index: 101;
    transition: 0.4s;
    text-align: left;
}

.input-box{
    position: relative;
    margin: 1em auto 1em auto;
    /* border: 1px solid black; */
    width: 37em;
    height: 2.7em;
    border-radius: 1em;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    background-color: var(--card-color);
    transition: 0.3s;
}

.form-button-set{
    position: relative;
    width: 37em;
    /* height: 1em; */
    margin: auto;
    margin-top: 1em;
}

.input-box:has(.input-box-field:focus) {
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.15);
}

.input-box-text{
    position: absolute;
    /* background-color: pink; */
    color: var(--text-4);
    width: 4.5em;
    margin-left: 1.2em;
    top: 50%;
    transform: translateY(-50%);
}

.input-box-field{
    position: absolute;
    /* background-color: grey; */
    width: 29em;
    margin-right: 1.2em;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
}

.form-tags-selected{
    font-size: 0.9em;
    background-color: var(--tag-color);
    color: var(--text-2);
    border-radius: 5px;
    margin: auto 3px;
    padding: 1px 4px 1px 1px; 
    white-space: nowrap;
}

.form-tags-remove-button{
    width: 0.9em;
    height: 0.9em;
    margin: auto 0.3em;
    background-color: #909090;
    border-radius: 0.4em;
    cursor: pointer;
}

.form-tags-remove-button:hover{
    background-color: #707070;
}

.form-tags{
    font-size: 0.9em;
    background-color: var(--tag-color);
    color: var(--text-2);
    border-radius: 5px;
    margin: auto 6px auto 0px;
    padding: 1px 4px 1px 4px;
    white-space: nowrap;
    cursor: pointer;
}

.form-tags:hover{
    background-color: var(--tag-hover-color);
}

.form-tags-box{
    box-sizing: border-box;
    position: relative;
    margin: 0.3em auto 1em auto;
    padding: 0.4em 1.2em;
    /* border: 1px solid black; */
    width: 37em;
    height: auto;
    min-height: 43.8px;
    border-radius: 1em;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    background-color: var(--card-color);
    transition: 0.3s;
}

.form-tags-group{
    /* margin: 1.2em auto 1.2em 1.2em; */
    line-height: 30px;
}

.save-button{
    position: relative; 
    width: 5em;
    height: 2.5em;
    border-radius: 17px;
    background-color: var(--button-color);
    box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
    cursor: pointer;
    
}

.save-button:hover{
    box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.15);
    transform: scale(1.2)
}

.save-button:active{
    box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.10);
    background-color: var(--button-pressed-color);
    transform: scale(1.1)
}

.save-button .save-button-text{
    pointer-events: none;

    font-size: 12px;
    width: 5em;
    color: var(--button-text-color-trans);
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 90%;
    transform: translateY(-50%);
    transition: 0.3s;
}

.save-button:hover .save-button-text {
    color: var(--button-text-color);
}