.sidebar{
    background-color: #FCFCFC;
    box-sizing: border-box;
    height: 100%;
    width: 320px;
    /* border-right: solid; */
    /* border-right-width: 1px; */
    padding: 40px;
    position: fixed;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.sidebar-title{
    font-weight: 800;
    font-size: 29px;
    padding: 0px 0px 20px 0px;
    user-select: none;
}

.sidebar-option{
    font-size: 22px;
    color: black;
    width: 88px;
    padding: 10px 0px;
    transition: 0.2s cubic-bezier(0.37, 0, 0.63, 1);
    user-select: none;
}

.sidebar-option:hover{
    /* border-bottom: 1px solid black; */
    /* text-decoration: underline; */
    transform: scale(1.05);
}